h1, h3 {
    width: 50%;
    display: block;
    margin: 0 auto 0 auto;
    text-align: center;
}

.output svg, #datalist {
    width: 250px;
    margin: 0 auto 0 auto;
    display: block;
}

#datalist {
    width: 350px;
    text-align: center;
    list-style: none;
    padding: 0;
}
